<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/BuildMaster/View/Css/connexion.css">
  <script src="main.js"></script>
</head>

<body>
  <div class="login-card">

    <H1>Etape 2</H1>
    <h1>Creation De votre Magasin </h1><br>

    <form action="index.php?page=createNewUser2" method="POST">
      <p>
        Nom de Votre Magasin <input type="text" name="magasin" placeholder="Nom" required>
        Adresse du Magasin <input type="text" name="adresse" placeholder="Adresse" required>
        <!-- Votre Pseudo  <input  type="text" name="pseudo" placeholder="Pseudo"> -->
       

          <input type="submit" name="login" class="login login-submit" value="Cree un compte">

    </form>

  </div>
  </div>

</body>

</html>