<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vendeur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="View/Template/cssMonSite2Message.css">
    <script src="log.js"></script>
</head>

<body>



    <head>
        <meta name="format-detection" content="telephone=no" />
    </head>

    <header class="topnav">
        <nav><a href="index.php?page=boiteOutilV">
            <img class="logo" src="/BuildMaster/View/Image/Logo.png">
            <ul>
                <li><a href="index.php?page=messageVendeur">Mes messages</a></li>
                <li><a href="index.php?page=articleVendeur">Mes articles</a></li>
                <li><a href="index.php?page=monSite">Mon site</a></li>
                <li><a href="index.php?page=change">Mes infos</a></li>
                <li><a href="index.php?page=deconnexion">Déconnexion</a></li>
    </header>
    