<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="View/Template/css3.css">
    <script src="log.js"></script>
</head>

<body>


    <head>
        <meta name="format-detection" content="telephone=no"/>
    </head>

    <header class="topnav">
        <nav><a href="index.php?page=boiteOutilA">
            <img class="logo" src="/BuildMaster/View/Image/Logo.png">
            <ul>
                <li><a href="index.php?page=messageVendeur">Mes Messages</a></li>
                <li><a href="index.php?page=adminTheme">Modifier les thèmes</a></li>
                <li><a href="index.php?page=affUser">Afficher les comptes</a></li>
                <li><a href="index.php?">Déconnexion</a></li>
              
        </nav>
    </header>